/** CSS STYLE **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-color: #2A2626;
 }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--font-color);
}

.title {
  margin: 0;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.page-header {
  position: relative;
  margin-bottom: 200px;
  font-size: 72px;
}

.front {
  position: relative;
  z-index: 2;
}

.page-header::after {
  position: absolute;
  top: -55px;
  right: -280px;
  z-index: 1;
  height: 525px;
  content: url(../img/main.png);
}

.section-header {
  margin-bottom: 30px;
  font-size: 60px;
}

.summary {
  font-size: 34px;
}

.title-color {
  color: var(--main-color);
}

.content {
  column-count: 2;
  column-gap: 30px;
}

.content p {
  margin-top: 0;
  break-inside: avoid-column;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.back-decoration-light {
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.back-decoration-light::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/background.png);
  background-color: var(--light);
  opacity: 0.9;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.btn-more {
  width: 148px;
  height: 49px;
  margin-top: 23px;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--main-color);
  border: none;
}

.btn-more>a {
  text-decoration: none;
  color: var(--white);
}

.video {
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 auto -200px auto;
  width: 919px;
  height: 569px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.centered-title {
  text-align: center;
  margin-bottom: 30px;
}

.centered-title > p {
  margin: 0;
}