/** CSS STYLE **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-color: #2A2626;
 }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--font-color);
}

.title {
  margin: 0;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

.page-header {
  font-size: 72px;
}

.page-header::after {
  content: url(../img/main.png);
}

.section-header {
  font-size: 60px;
}

.summary {
  font-size: 34px;
}

.title-color {
  color: var(--main-color);
}

.content {
  column-count: 2;
  column-gap: 30px;
}

.content p {
  margin-top: 0;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.container::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/background.png);
  background-color: var(--light);
  opacity: 0.7;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}